/*Reset*/
*{
	margin:0;
	padding:0;
}
img{
	border:none;
}
input{
	
	border:none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}

/*HTML5*/
header, article, nav, footer, section{
   display:block;
}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*General*/
body{
	font-family: 'bebas_neuebold';
	background: #f7f7f7;
}
#wrapper{
	width: 960px;
	margin: 0px auto;
}
.clearfix{
	display: block;
	clear: both;
}
/**/

ul#index-menu{
	background: #0099FF;
	border-bottom: 3px solid #1186D5;
	-moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
ul#index-menu > li{
	float: left;
	margin: 0 12px;
	position: relative;
}
ul#index-menu > li > a{
	display: block;
	padding: 20px 0;
	color:#FFF;
	font-size: 18px;
}
ul#index-menu > li > a:hover,
ul#index-menu > li:hover > a{
	color: #123044;
	-moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
ul#index-menu > li .submenu{
	position: absolute;
}
ul#index-menu > li .submenu li{
	background: #0099FF;
	width: 200px;
	text-align: center;
	margin-bottom: 5px;
	position: relative;
	top: 200px;
	left: 100px;
	display: none;
	border-bottom: 3px solid #1186D5;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: -moz-background 0.5s ease;
    -o-transition: -o-background 0.5s ease;
    -webkit-transition: -webkit-background 0.5s ease;
    transition: background 0.5s ease;
}
ul#index-menu > li .submenu li:first-child{
	-moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;;
}
ul#index-menu > li .submenu li:hover{
	background: #5DBDFD;
	-moz-transition: -moz-background 0.5s ease;
    -o-transition: -o-background 0.5s ease;
    -webkit-transition: -webkit-background 0.5s ease;
    transition: background 0.5s ease;
}
ul#index-menu > li .submenu li a{
	display: block;
	padding: 15px;
	color:#FFF;
	-moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
ul#index-menu > li .submenu li a:hover{
	color: #123044;
	-moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}